* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
	background-color: #f4f4f4;
}

.react-grid-item.react-grid-placeholder {
	background: #23e5e7 !important;
	opacity: 0.8 !important;
}

.react-grid-item.react-draggable-dragging {
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	transform: rotate(2deg) !important;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 10px;
}
